# Dependencies
node_modules/

# Next.js
.next/
out/

# Environment
.env
.env.local
.env.production
.env.*.local

# Vercel
.vercel

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/*.db
prisma/*.db-journal

# TypeScript
*.tsbuildinfo
